.add-button {
    background-color: #44c767;
    color: white;
    padding: 0;
    text-shadow:0 1px 0 #2f6627;
    font-weight: bold;
    width:100%;
    border:1px solid #18ab29;
    border-radius: 20px;
}
.add-button:hover {
    background-color:#5cbf2a;
}
.add-button:active {
    background-color: rgba(98, 191, 181, 0.39);
}
.add-button:focus {
    outline: 0;
    background-color:#5cbf2a;
    box-shadow: 0 2px 6px rgba(0,0,0,0.12), 0 2px 6px rgba(0,0,0,0.24);
}
p {
    display: block;
    padding: 4%;
    margin: 0;
}